body {
  background-color: #daccf8;
  font-family: 'SCoreDream';
 }

/*title*/
.title {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 2%;
  
  color: #000000;
  font-size: 50px;
  font-weight: 600;
  text-decoration: none;
}

.menu {
  margin-right: 10px;

  font-size: 20px;
  font-weight: 500;
}

#titleNmenu a:link {
  text-decoration: none;
  color: #444444;
}

#titleNmenu a:visited {
  text-decoration: none;
  color: #444444;
}

#titleNmenu a:hover {
  text-decoration: underline;
  font-weight: 600;
  color: #000000;

  transition: all 200ms;
}

/*main*/
.MusicFrame {
  display: inline-block;

  margin-left: 6.5%;
  margin-bottom:3vw;
  width: 40%;
}

.MusicFrame .Date {
  margin: 0% 0% 0.1vw 0%;

  font-weight: 500;
  font-size: 1.25vw;
}

.MusicFrame .Thumbnail {
  width: 25%;
}

.MusicFrame .Info {
  display: inline-block;

  margin-left: 2%;
  width: auto;

  font-size: 1vw;
}

.MusicFrame .Info .MusicTitle {
  position: relative;
  
  bottom: 3.2vw;
}

.MusicFrame .Info .MusicAlbum {
  position: relative;

  bottom: 2.7vw;
}

.MusicFrame .Info .MusicArtist {
  position: relative;

  bottom: 2.2vw;
}


.MusicFrame .Info .MusicRelease {
  position: relative;

  bottom: 1.7vw;
}

.MusicFrame .Info .MusicListen {
  position: relative;

  bottom: 1.2vw;
}

.PMFrame {
  display: inline-block;
  position: relative;

  margin-left: 1vw;

  width: 35%;
}

.PMFrame .ProfilePic {
  display: inherit;
  margin-right: 5px;

  width: 2vw;
  height: 2vw;

  border-radius: 50%;
}

.PMFrame .Name {
  display: inherit;
  position: inherit;
  font-weight: 500;
  font-size: 0.65vw;
  
  bottom: 1.1vw;
}

.PMFrame .PMContent {
  display: inherit;
  position: inherit;

  left: 2.6vw;
  bottom: 1vw;

  font-weight: 400;
  font-size: 0.75vw;

  color: #ffffff;
  background-color: #7846fe;

  padding: 0.75vw 1vw 0.75vw 1vw;
  border-radius: 5px 27px 27px 27px;
}

/*footer*/
footer {
  margin-top: 175px;
}

footer div.bordertop {
  width: 700px;
  border-top: 1.5px solid #444444;

  margin: auto;
}

footer div.links {
  font-weight: 300;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

footer div.links span {
  margin-left: 2px;
  margin-right: 2px;

  color: #444444;
}

footer div.links a {
  margin-left: 2px;
  margin-right: 2px;

  color: #444444;
}

footer div a:link {
  text-decoration: none;
}

footer div a:hover {
  color: #000000;
  text-decoration: underline;

  font-weight: 400;
}

footer div a:visited {
  text-decoration: none;
}

/*
링크별 클래스 - 혹 필요하다면 쓰자
footer div a.youtube {
  text-decoration: none;
}

footer div a.twitter {
  text-decoration: none;
}

footer div a.instagram {
  text-decoration: none;  
}

footer div a.tictok {
  text-decoration: none;
}

footer div a.fancafe {
  text-decoration: none;
}

footer div a.jtwitter {
  text-decoration: none;
}

footer div a.weibo {
  text-decoration: none;
}

footer div a.mnetp {
  text-decoration: none;
}
*/

footer p.credit {
  font-weight: 400;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 3px;
} 

footer p.contact {
  font-weight: 200;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 3px;
}

footer p.subtitle {
  font-family: 'Tangerine';
  font-size: 24px;

  margin-top: 20px;
  margin-bottom: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}
